<% @report_list. each do |report|%>
<p>
 Location: <%= report["location"]%>
 Surroundings: <%= report["surroundings"]%>
 Suggested Plant Treatment: <%= report["plant_treatment"]%>
 Comments: <%= report["comments"]%>
 Source_ID: <%= report["source_id"]%>
 Group_ID: <%= report["group_id"]%>
</p>
<% end%>

<p><a href="/report_main">Return to report menu</a></p>